/*-----------------------------*/
/*---------GENERAL-------------*/
/*-----------------------------*/

/* blue color : #66cdaa*/
/* other color : #cd7766*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,
body {
    background color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1{
	font-weight:300;
	text-transform: uppercase;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}



/*-----------------------------*/
/*---------HEADER--------------*/
/*-----------------------------*/

header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/background.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

.intro-box {
	font-weight: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.intro-box h1 strong{
	color: #66cdaa;
	transition: color 0.5s;
}

.intro-box h1 strong:hover,
.intro-box h1 strong:active{
	color: #cd7766;
}

/*---------BUTTONS IN HEADER--------------*/
.intro-box a:link,
.intro-box a:visited{/*buttons in box*/
	align-content: center;
	display: inline-block;
	font-weight: 300;
	border-radius: 15px;
	background-color: #66cdaa;
	padding: 15px;
	color: white;
	text-decoration: none;
	margin: 20px 40px 0 40px;
	transition: background-color 0.5s, color 0.5s;
}

.intro-box a:hover,
.intro-box a:active{/*buttons in box*/
	background-color: white;
	color: #66cdaa;
}


/*-----------------------------*/
/*---------NAV-----------------*/
/*-----------------------------*/

.main-nav{
	color: white;
	float: right;
	text-decoration: none;
}

.main-nav{
	display: inline-block;
}



/*-----------------------------*/
/*---------ABOUT ME------------*/
/*-----------------------------*/

.about-me-header{
	color: #66cdaa;
	width: 40vw;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	padding: 0 15px;
	transition: border 0.2s, color 0.2s;
}

.about-me-header:hover,
.about-me-header:active{
	border-bottom: 3px solid #cd7766;
}

.about-me-description span{
	color: #cd7766;
}




